.btn {
  border: none;
  color: white;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
  padding: $padding-unit/2.3 $padding-unit $padding-unit/2;
  margin: $padding-unit/5;
  background: $action-color;
  box-shadow: 1px 1px 2px rgba($font-color, 0.8), 1px 1px 0px rgba(white, 0.3) inset;
  border-radius: 4px;
  &:hover, &:focus, &:active {
    background: $action-hover;
  }
}

.btn-lg {
  @extend .btn;
  font-size: 1.2em;
  padding: $padding-unit/1.5 $padding-unit;
  box-shadow: 2px 2px 3px rgba($font-color, 0.8), 1px 1px 0px rgba(white, 0.3) inset;
}

.btn-minimal {
  background: none;
  color: $action-color;
  &:hover, &:focus, &:active {
    color: $action-hover;
    background: none;
  }
}

.btn-secondary {
  background: $mid-grey;
  &:hover, &:focus, &:active {
    background: lighten($mid-grey, 5%);
  }
}

.btn-minimal, .flat {
  box-shadow: none;
}

.btn.inactive {
  opacity: 0.5;
  background: $mid-grey;
  cursor: default;
}

.btn-minimal.inactive {
  opacity: 0.5;
  color: $mid-grey;
  background: none;
}

.btn.icon-right {
  i {
    margin-left: $padding-unit;
    margin-right: $padding-unit*-0.4;
  }
}