.calls-list--header {
  background: desaturate(rgba($calls-color, 0.6), 10%);
  padding-bottom: $padding-unit*2;

  .new-call-button {
    height: $padding-unit*2 + 2*($padding-unit/3);
    margin: 0;
    width: $padding-unit*3;
    float: left;
    padding-left: 15px;

    .fa-phone {
      font-size: 2.2em;
      line-height: 1.3em;
    }

    .fa-plus {
      font-size: 1.2em;
      position: relative;
      bottom: 15px;
      right: 5px;
    }
  }

  .toolbar {
    margin-left: $padding-unit*4;
  }

}

.calls-list--list {
  i {
    font-size: 0.9em;
    margin-right: $padding-unit/4;
  }

  .patient {
    a:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      margin-right: 8px;
      margin-bottom: 1px;
    }
  }

}