.label,
.badge {
  display: inline-block;
  border-radius: 20px;
  padding: 1px 6px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  background: $mid-grey;
}

.badge {
  vertical-align: super;
  text-align: center;
  padding: 1px 5px;
  height: 18px;
  min-width: 18px;
}

.label.case-status {
  border-radius: 2px;
}

.label.patient-status {
  font-size: 0.7em;
  line-height: 1.1em;
  padding: 1px 4px;
  vertical-align: super;
  background: rgba($mid-grey, 0.2);
  color: $grey;
}


.label.sick {
  background: $sick;
}

.label.death {
  background: $death;
}

.label.birth {
  background: $birth;
}

.label.health-info {
  background: $health-info;
}

.case-status.open {
  background: $open;
}

.case-status.closed {
  background: $closed;
}

.case-status.dispatched {
  background: $dispatched;
}

.patient-status.sick {
  background: rgba($sick, 0.2);
  color: darken($sick, 15%);
}

.patient-status.dead {
  background: rgba($death, 0.2);
  color: darken($death, 10%);
}

.patient-status.newborn {
  background: rgba($birth, 0.2);
  color: darken($birth, 20%);
}
