.navbar {
  width: 100%;
  background: $dark-grey;
  height: 54px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navbar-brand {
  display: inline-block;
  height: 54px;
  color: $light-grey;
  font-weight: 700;
  text-transform: uppercase;
  padding: $padding-unit/1.2 $padding-unit*2 $padding-unit/1.2 $padding-unit;
}

.navbar-nav {
  display: flex;
  li {
    height: 54px;
    list-style: none;
  }

  a {
    display: inline-block;
    color: $light-grey;
    text-transform: uppercase;
    height: 54px;
    padding: $padding-unit/1.2 $padding-unit*1.5;
  }

  li.active a,
  li:hover a {
    color: white;
    font-weight: 700;
  }

  li.active a {
    background: $grey;
  }

  .calls.active a {
    background: $calls-color;
  }
  .patients.active a {
    background: $patients-color;
  }
  .active:before {
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 48px;
    background: $grey;
  }
  .calls.active:before {
    background: $calls-color;
  }
  .patients.active:before {
    background: $patients-color;
  }
}

.navbar-user {
  margin-left: auto;
  display: flex;
}

.user-icon {
  display: inline-block;
  background: $mid-grey;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-right:6px;
  text-align: center;
  i {
    color: $dark-grey;
  }
}

.navbar .dropdown {
  margin: 0;
  .dropdown-toggle {
    height: 54px;
    padding-top: $padding-unit/1.2;
    color: $light-grey;
  }
  .dropdown-menu {
    min-width: 0;
  }
}

