$font-color: #2B4643;

$action-color: #00A777;
$action-hover: lighten($action-color, 5%);

$bg-color: #F1F5F4;

$dark-grey: #2B4643;
$grey: #607981;
$mid-grey: lighten($grey, 20%);
$light-grey: #CED7D8;

$input-color: #F0FAFE;
$calls-color: #4F85A3;
$patients-color: #70898D;

$padding-unit: 20px;
$font-size: 15px;


$sick: #F19627;
$death: #F2462D;
$health-info: #61C1E1;
$birth: #5ACEB4;

$open: #DE9010;
$closed: #B7C8C6;
$dispatched: #4990E2;