.alert {
  padding: $padding-unit;
  background: $light-grey;
  color: white;
}

.alert-success {
  background: $success;
}
.alert-danger {
  background: $danger;
}
.alert-warning {
  background: $warning;
}
.alert-info {
  background: $info;
}